.subscribe-button {
    background-color: rgb(181, 2, 2);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 2px;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    background-color: rgb(255, 0, 0);
}

.join-button {
    background-color: white;
    color: blue;
    border: 1px solid rgb(110, 110, 214);
    padding: 10px 20px;
    margin-right: 10px;

}

.join-button:hover {
    background-color: rgb(66, 66, 191);
    color: white;
}

.join-button:active {
    opacity: 0.8;
}

.tweet-button {
    background-color: rgb(66, 184, 221);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: opacity 0.2s
}

.tweet-button:hover {
    opacity: 0.8;
}

.tweet-button:active {
    opacity: 0.6;
}